<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="font-size: 20px; margin: 20px 5px">Водители</div>
    <table style="border: 1px solid grey; border-collapse: collapse; text-align: center">
        <thead>
            <tr>
                <th style="border: 1px solid grey; padding: 15px 15px">Фамилия</th>
                <th style="border: 1px solid grey; padding: 15px 15px">Имя</th>
                <th style="border: 1px solid grey; padding: 15px 15px">Отчество</th>
                <th style="border: 1px solid grey; padding: 15px 15px">Дата рождения</th>
                <th style="border: 1px solid grey; padding: 15px 15px">ИНН</th>
                <th style="border: 1px solid grey; padding: 15px 15px">Паспортные данные</th>
                <th style="border: 1px solid grey; padding: 15px 15px">Машина</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in var_3 %}
                <tr>
                    <td style="border: 1px solid grey; padding: 10px 10px">{{ driver.last_name }}</td>
                    <td style="border: 1px solid grey; padding: 10px 10px">{{ driver.first_name }}</td>
                    <td style="border: 1px solid grey; padding: 10px 10px">{{ driver.patronymic }}</td>
                    <td style="border: 1px solid grey; padding: 10px 10px">{{ driver.date_of_birth }}</td>
                    <td style="border: 1px solid grey; padding: 10px 10px">{{driver.INN}}</td>
                    <td style="border: 1px solid grey; padding: 10px 10px">{{driver.passport}}</td>
                    <td style="border: 1px solid grey; padding: 10px 10px">{{driver.cars}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>